.new-product-form {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 80%;
  margin: 25px 0;
  padding: 20px;
}

.form-title {
  color: var(--color-siena-tostado);
  margin-bottom: 15px;
}

.new-product-form input,
.new-product-form textarea,
.new-product-form select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.new-product-form input:focus-visible,
.new-product-form textarea:focus-visible,
.new-product-form select:focus-visible {
  border-color: var(--color-vara-de-oro);
  box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.5);
}

.new-product-form textarea {
  resize: none;
  overflow: auto;
}

.product-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.product-details div {
  flex-basis: 100%;
}

.product-caracteristicas {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
}

.product-caracteristicas div {
  flex-basis: 100%;
}

.product-caracteristicas button {
  padding: 8px 12px;
  margin-bottom: 12px;
  flex-basis: 100%;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--color-vara-de-oro);
}

.caracteristicas-container {
  width: 100%;
}

.caracteristicas-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 4px;
}

.caracteristicas-container li p {
  overflow-wrap: break-word;
  word-break: break-word;
}

.enviar {
  background-color: var(--color-siena-tostado);
  border: none;
  border-radius: 6px;
  color: white;
  width: 100%;
  padding: 8px 12px;
  margin: 18px auto;
}

@media (min-width: 600px) {
  .product-details div {
    flex-basis: 32%;
  }

  .product-caracteristicas div {
    flex-basis: 78%;
  }
  .product-caracteristicas button {
    flex-basis: 20%;
  }
}
