.ventana {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.carrito-icono {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 5px;
  gap: 2px;
}
.contador-carrito {
  font-size: 18px;
  color: #a0522d;
  width: 14px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.contador-carrito.visible {
  visibility: visible;
  opacity: 1;
}

.ventana.open {
  right: 0;
  width: 350px;
}

.ventana-header,
.ventana-footer {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.ventana-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cerrar-btn {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--burnt-sienna);
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease;
}

.cerrar-btn:hover {
  color: #e55b00;
}

.ventana-contenido {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Carrito: productos añadidos */

.carrito-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.carrito-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.carrito-info {
  flex: 1;
}

.carrito-info h4 {
  font-size: 0.9rem;
  color: #333;
  margin: 0;
}

.carrito-info p {
  font-size: 0.8rem;
  color: #888;
  margin: 2px 0;
}

/* Botones para + / - cantidad */

.cantidad-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.cantidad-control button {
  background-color: #f0f0f0;
  border: none;
  padding: 4px 8px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.cantidad-control button:hover {
  background-color: #ddd;
}

/* Total y botón */

.ventana-footer {
  border-top: 1px solid #eee;
}

.ventana-footer h3 {
  margin-bottom: 16px;
  color: #333;
}

.btn-pago {
  background-color: var(--color-siena-tostado);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-pago:hover {
  background-color: #76391c;
}

.btn-vaciar{
  all:unset;
  border: 1px solid #ef2323;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 2px;
  margin: 0 auto;
  color: #ef2323;
  cursor: pointer;
}

.btn-eliminar{
  all: unset;
  cursor: pointer;
  color: #ef2323;
}